# Practice Dataset - 1 (Paris Housing )
This dataset contains numeric attributes related to house details in an urban setting in Paris, including square meters, room count, yard and pool presence, floor count, zip code, neighborhood exclusivity, previous owner count, construction year, new construction status, storm protection, basement, attic, garage size, storage room, guest room, and house price.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("ParisHousing.csv")

In [3]:
dataset

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4,176425.9
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0,4448474.0
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9,8390030.5
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4,5905107.0
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6,146708.4

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   squareMeters       10000 non-null  int64
 1   numberOfRooms      10000 non-null  int64
 2   hasYard            10000 non-null  int64
 3   hasPool            10000 non-null  int64
 4   floors             10000 non-null  int64
 5   cityCode           10000 non-null  int64
 6   cityPartRange      10000 non-null  int64
 7   numPrevOwners      10000 non-null  int64
 8   made               10000 non-null  int64
 9   isNewBuilt         10000 non-null  int64
 10  hasStormProtector  10000 non-null  int64
 11  basement           10000 non-null  int64
 12  attic              10000 non-null  int64
 13  garage             10000 non-null  int64
 14  hasStorageRoom     10000 non-null  int64
 15  hasGuestRoom       10000 non-null  int64
 16  price              10000 non-null  float64
dtypes: float64(1), int64(16)
memory usage: 1.3 MB

In [5]:
dataset.head(10)

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0
5,39223,36,0,1,17,39489,8,6,2012,0,1,2009,4552,757,0,1,3926647.2
6,58682,10,1,1,99,6450,10,9,1995,1,1,5930,9453,848,0,5,5876376.5
7,86929,100,1,0,11,98155,3,4,2003,1,0,6326,4748,654,0,10,8696869.3
8,51522,3,0,0,61,9047,8,3,2012,1,1,632,5792,807,1,5,5154055.2
9,39686,42,0,0,15,71019,5,8,2021,1,1,5198,5342,591,1,3,3970892.1

In [6]:
dataset.isnull().sum()

squareMeters         0
numberOfRooms        0
hasYard              0
hasPool              0
floors               0
cityCode             0
cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
dtype: int64

In [7]:
dataset.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

In [8]:
dataset.shape

(10000, 17)

In [9]:
dataset.columns

Index(['squareMeters', 'numberOfRooms', 'hasYard', 'hasPool', 'floors',
       'cityCode', 'cityPartRange', 'numPrevOwners', 'made', 'isNewBuilt',
       'hasStormProtector', 'basement', 'attic', 'garage', 'hasStorageRoom',
       'hasGuestRoom', 'price'],
      dtype='object')

In [10]:
y = dataset["price"]

In [11]:
y

0       7559081.5
1       8085989.5
2       5574642.1
3       3232561.2
4       7055052.0
          ...
9995     176425.9
9996    4448474.0
9997    8390030.5
9998    5905107.0
9999     146708.4
Name: price, Length: 10000, dtype: float64

In [12]:
x = dataset[['squareMeters', 'numberOfRooms', 'hasYard', 'hasPool', 'floors','cityCode', 'cityPartRange', 'numPrevOwners', 'made', 'isNewBuilt','hasStormProtector', 'basement', 'attic', 'garage', 'hasStorageRoom','hasGuestRoom']]

In [13]:
x

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train , y_test= train_test_split(x,y ,test_size=0.20 , random_state=1)

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
model = LinearRegression()

In [18]:
model

LinearRegression()

In [19]:
model.fit(X_train,y_train)

LinearRegression()

In [20]:
y_preadict = model.predict(X_test)

In [21]:
y_preadict

array([7745948.37668867, 7557584.69957799, 1630632.73130593, ...,
       5034778.79693994, 8484048.60169922, 1039528.15632485])

In [22]:
X_test

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom
9953,77385,50,1,1,18,77036,1,4,2006,0,1,3676,5586,471,0,7
3850,75504,19,1,0,62,34162,6,1,2020,1,0,3815,841,968,0,1
4962,16247,71,0,0,95,6358,8,4,1990,0,0,8238,4493,957,0,4
3886,91482,86,1,0,32,90465,6,2,2003,1,0,8903,4388,649,0,6
5437,34980,16,1,1,84,27775,3,8,2016,0,1,2449,6895,129,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3919,44966,99,1,1,30,17577,9,3,2009,1,0,3266,2525,551,1,10
162,84006,73,1,1,97,54296,4,7,2000,1,0,9698,6310,837,0,4
7903,50294,95,0,1,32,61627,1,8,2010,1,1,280,4076,947,1,3
2242,84789,50,0,1,27,91548,9,6,1992,0,0,9782,7911,857,0,9
2745,10310,85,1,0,93,95796,2,9,2016,1,0,6055,4822,434,1,6

In [23]:
y_test

9953    7743828.6
3850    7558113.0
4962    1634324.0
3886    9153595.3
5437    3507649.6
          ...
3919    4509078.9
162     8409827.0
7903    5034880.0
2242    8484814.2
2745    1041341.6
Name: price, Length: 2000, dtype: float64

In [24]:
dataset

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4,176425.9
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0,4448474.0
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9,8390030.5
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4,5905107.0
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6,146708.4

In [25]:
model.fit(x,y)

LinearRegression()

In [26]:
from sklearn import metrics

In [27]:
metrics.mean_absolute_error(y_test,y_preadict)

1498.0215176613103

In [28]:
model.coef_

array([ 1.00000024e+02,  2.51844810e-01,  3.01229551e+03,  2.97713775e+03,
        5.45420542e+01, -8.03888243e-04,  4.73685001e+01, -3.95730186e-01,
       -2.31311931e+00,  1.58041540e+02,  1.41196130e+02, -2.10562533e-03,
       -4.50939065e-03,  1.13432814e-01,  1.94856126e+01, -5.62033751e+00])

In [29]:
model.intercept_

4926.758592898026

In [30]:
model.predict(x)

array([7559296.85878307, 8089219.22308318, 5575672.81318593, ...,
       8388814.76385823, 5909277.14013567,  147421.94830351])

In [31]:
model.score(X_train,y_train)

0.999999571634073

# 
Certainly! This code is a Python function called `evaluate` that assesses the performance of a machine learning model. Let's break down each part step by step:

1. `def evaluate(model, x, y):`
   - `def evaluate`: This line defines a new function called `evaluate`.
   - `(model, x, y)`: Inside the parentheses, the function takes three parameters:
     - `model`: This is the machine learning model that you want to evaluate.
     - `x`: This is the input data that the model uses for making predictions.
     - `y`: This is the actual or true target values that you want to compare the model's predictions against.

2. `predictions = model.predict(x)`
   - Here, the function uses the `model` to make predictions on the input data `x`. The result is stored in a variable called `predictions`. These predictions are what the model thinks the output should be based on the input data.

3. `errors = abs(predictions - y)`
   - This line calculates the errors between the model's predictions (`predictions`) and the actual target values (`y`). It computes the absolute difference between each prediction and the corresponding true value. The result is stored in a variable called `errors`.

4. `mape = 100 * np.mean(errors / y)`
   - Here, the code calculates the Mean Absolute Percentage Error (MAPE). MAPE is a metric used to measure the accuracy of a model's predictions. It quantifies the average percentage difference between the predicted values and the true values. It's calculated by taking the mean (average) of the absolute errors divided by the true values (`y`) and then multiplying by 100 to express it as a percentage. The result is stored in a variable called `mape`.

5. `accuracy = 100 - mape`
   - This line calculates the accuracy of the model's predictions. It subtracts the MAPE from 100 to get a percentage-based accuracy score. Higher accuracy means the model's predictions are closer to the true values.

6. `print('Model Performance')`
   - This line simply prints the text "Model Performance" to the console.

7. `print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))`
   - This line prints the average error of the model's predictions. It calculates the mean (average) of the errors and displays it with four decimal places.

8. `print('Accuracy = {:0.2f}%.'.format(accuracy))`
   - This line prints the accuracy of the model's predictions in percentage format, with two decimal places.

9. `return accuracy`
   - Finally, the function returns the accuracy value so that it can be used or stored elsewhere in your program.

In summary, this `evaluate` function takes a machine learning model, input data, and true target values, calculates the model's performance metrics (MAPE and accuracy), and then prints these metrics to the console while also returning the accuracy value for further use. It's a useful tool for assessing how well a model is performing.

In [32]:
def evaluate(model, x, y):
    predictions = model.predict(x)
    errors = abs(predictions - y)
    mape = 100 * np.mean(errors / y)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [34]:
evaluate(model,X_train,y_train)

Model Performance
Average Error: 1473.8255 degrees.
Accuracy = 99.90%.

99.89987099860586

In [35]:
evaluate(model,X_test,y_test)

Model Performance
Average Error: 1493.8734 degrees.
Accuracy = 99.90%.

99.89738116933718